form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px;
  margin-bottom: 15px;
  width: 100%;
}

button[type="submit"] {
  background-color: #15161b;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 10px;
  cursor: pointer;
  margin-top: 15px;
}

button[type="submit"]:hover {
  background-color: #101114;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
}

