 .product-table {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 16px;
  }
  
  .product-card {
    background-color:black;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 300px;
  }
  
  .product-card img {
    background-color: aliceblue;
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .product-info {
    padding: 20px;
  }
  
  .product-info h4 {
    margin-top: 0;
  }
  
  .product-info p:last-of-type {
    margin-bottom: 0;
  }
   
   .paypal-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .paypal-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #0070ba;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .paypal-button:hover {
    background-color: #00457c;
  }
  
  .paypal-icon {
    font-size: 24px;
    margin-right: 10px;
  }
  